<!DOCTYPE html>
<html>
  <head>
    <!-- The title of the webpage -->
    <title>About Us</title>  
    <!-- Including Bootstrap for styling -->
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <!-- Including the navigation bar -->
    {% include 'nav.html' %}
    <!-- Including the banner -->
    {% include 'banner.html' %}

     <div class="container">
        <!-- Main content -->
        <h1 class="text-center mt-4">About Us</h1>
        <p class="lead text-center">Welcome to our about page! Meet the team behind Devvox Careers.</p>

        <!-- Introduction paragraphs -->
        <div class="row">
            <div class="col-md-12">
                <p>Joseph Orokpo and Burhanuddeen Abdullahi are students of the Software Engineering (SE) programme by ALX Africa, a twelve-month intensive software engineering programme. The development of the Devvox Careers Website was initiated as a portfolio project within the ALX SE programme.</p>
                <p>The idea to build this project was born out of the evident challenges faced by tech graduates in securing job opportunities. With a shared determination to address this issue, Joseph and Burhanuddeen embarked on developing the Devvox Careers Website as a solution to simplify the job search process for tech professionals.</p>
            </div>
        </div>

        <!-- Team details -->
        <h2 class="text-center mt-6">Meet the Team</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Joseph Orokpo</h3>
                <p>Joseph is passionate about using technology to solve real-world problems with a focus on backend development.</p>
                <p>Connect with Joseph Orokpo:</p>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/joseph-orokpo-8526609b" target="_blank">LinkedIn</a></li>
                    <li><a href="https://twitter.com/joe_orokpo" target="_blank">Twitter</a></li>
                    <li><a href="https://github.com/Josephorokpo" target="_blank">GitHub</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Burhanuddeen Abdullahi</h3>
                <p>Burhanuddeen is passionate about building innovative solutions and making a positive impact in the tech industry.</p>
                <p>Connect with Burhanuddeen Abdullahi:</p>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/burhanuddeen-abdullahi-7a1418210" target="_blank">LinkedIn</a></li>
                    <li><a href="https://twitter.com/joe_orokpo" target="_blank">Twitter</a></li>
                    <li><a href="https://github.com/Josephorokpo" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>

        <!-- Link to the project repository -->
        <p class="mt-4">Link to the project repository: <a href="https://github.com/Josephorokpo/Devvox-careers-website" target="_blank">Devvox Careers Website Repository</a></p>
    </div>

    <!-- Including the footer -->
    {% include 'footer.html' %}
</body>
</html>