<!DOCTYPE html>
<html>
<head>
    <!-- The title of the webpage -->
    <title>Contact Us</title>  
    <!-- Including Bootstrap for styling -->
    {% include 'bootstrap.html' %}
</head>
<body>
    <!-- Including the navigation bar -->
    {% include 'nav.html' %}
    <!-- Including the banner -->
    {% include 'banner.html' %}

    <div class="container">
        <!-- Main content -->
        <h1 class="text-center mt-4">Contact Us</h1>
        <p class="lead text-center">Get in touch with us!</p>

        <!-- Contact information -->
        <div class="row mt-5">
            <div class="col-md-6">
                <h3>Joseph Orokpo</h3>
                <p>Email: josephorokpo@gmail.com</p>
                <p>Phone: 2347033558390</p>
            </div>
            <div class="col-md-6">
                <h3>Burhanuddeen Abdullahi</h3>
                <p>Email: burhanbobe@gmail.com</p>
                <p>Phone: 2349033658230</p>
            </div>
        </div>
       
    </div>

    <!-- Including the footer -->
    {% include 'footer.html' %}
</body>
</html>