<!DOCTYPE html>

<!-- Start of HTML document with language set to English -->
<html lang="en">

  <!-- Start of the head section -->
  <head>  

    <!-- Sets the title of the webpage -->
    <title>Devvox Careers</title>

    <!-- Includes Bootstrap CSS -->
    {% include 'bootstrap.html' %}

  </head>

  <!-- Start of the body section -->
  <body>

    <!-- Navigation bar -->
    {% include 'nav.html' %}

    <!-- Banner -->
    {% include 'banner.html' %}

    <div class="container">

      <h1 class="text-center mt-2 mb-4">Devvox Careers</h1>

      <div class="row" style="margin-bottom: 16px">

        <div class="col-md-6">

          <!-- Introduction text -->
          <p class="lead">
          </p>

        </div>

        <!-- Image of workers -->
        <div class="d-none d-md-block col-md-6">
          <img src="/static/workers.jpg" style="height: 320px; border-radius: 4px;">
        </div>
        
      </div>

      <h2 class="text-center mt-2 mb-4">Job Openings</h2>

      <div>

        <!-- Loop through each job in the jobs list -->
        {% for job in jobs %}

          <!-- Include the job item template for each job -->
          {% include 'jobitem.html' %}

        {% endfor %}

      </div>
      
      <div class="text-center">

        <!-- Contact Us button -->
        <button class="btn btn-primary btn-lg">Contact Us</button>

      </div>

    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

  </body>

</html>

