<!-- Start of the navigation bar, styled with a shadow, fixed to the top, and with a white background -->
<nav class="navbar shadow-sm fixed-top bg-white">

  <!-- Start of the fluid container -->
  <div class="container-fluid">

    <!-- Start of the navbar brand, which is a link to the homepage -->
    <a class="navbar-brand" href= "/">

      <!-- Logo image, displayed inline with the brand name -->
      <img src="/static/logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">

      <!-- Brand name -->
      Devvox

    </a>

  <!-- End of the fluid container -->
  </div>

<!-- End of the navigation bar -->
</nav>

<!-- Spacer div to prevent content from being hidden under the fixed navigation bar -->
<div style="height:56px"></div>
